.head-text {
  position: relative;
}

.text-on-image {
  position: absolute;
  right: 10%;
  left: 60%;
  top: 15%;
  font-size: xx-large;
  color: #eaeabf;

}

.para {
  position: absolute;
  right: 10%;
  left: 60%;
  top: 30%;
  font-size: 20px;
  color: #361f17;
  background: rgba(235, 235, 191, 0.4);
  padding: 10px;
  text-align: center;

}

.bg {
  width: 100%;
  /* width:1349px; */
  /* height: 10px; */
}

.offer-on-image{
  position: absolute;
  right: 60%;
  left: 10%;
  top: 15%;
  font-size: 50px;
  color: #eaeabf;
  text-align: left;

}

.offer-para{
  position: absolute;
  right: 60%;
  left: 10%;
  top: 24%;
  font-size: 40px;
  color: #361f17;
  /* background: rgb(235, 235, 191, 0.4); */
  padding: 10px;
  text-align: left; 
}